# LABLE ENCODER
For encoding TARGET VARIABLE (Lable)

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv(r'../datasets/customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [2]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:2], df.iloc[:, -1], test_size = 0.2, random_state =42)

In [3]:
#this is our target variable (nothing but LABLE for our ML algorithm), which is a categorical variable

y_train.head()

12     No
4      No
37    Yes
8      No
3      No
Name: purchased, dtype: object

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(y_train)
le.classes_

array(['No', 'Yes'], dtype=object)

In [5]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [6]:
y_train

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0])