# Ordinal encoding
<font color='red'>For handling ORDINAL categorical FEATURES</font>

For encoding FEATURES of whose categories are rank based

#### ordinal vs label encoder:
    
    when target variable is Continuos: use ordinal encoder for features
    when target variable is Categorical: use label encoder for features

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'../datasets/customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:2], df.iloc[:, -1], test_size = 0.2, random_state =42)

In [14]:
x_train.head()
# needs ordinal encoding

     review education
12     Poor    School
4   Average        UG
37  Average        PG
8   Average        UG
3      Good        PG

In [13]:
y_train.head()
# needs label encoding

12     No
4      No
37    Yes
8      No
3      No
Name: purchased, dtype: object

In [18]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(x_train)
x_train = oe.transform(x_train)

In [22]:
x_train[:5,:]

array([[0., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [2., 2.]])

In [23]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]